.header {
  background-color: rgb(255, 205, 214);
  padding: 0%;
}
.header .header__logo img {
  width: 100%;
  padding: 8%;
}

.menu {
  background-color: rgb(183, 157, 10);
  padding: 0%;
}
.menu .menu__lista ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0%;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5%;
}
.menu .menu__lista ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5%;
}
.menu .menu__lista ul li a {
  text-decoration: none;
  color: white;
  font-size: 90%;
  font-family: "chocolatel";
}

@font-face {
  font-family: "footer";
  src: url(../fonts/Autography.otf);
}
@font-face {
  font-family: "chocolatel";
  src: url(../fonts/TT\ Chocolates\ Trial\ Light.otf);
}
@font-face {
  font-family: "chocolate";
  src: url(../fonts/TT\ Chocolates\ Trial\ Bold.otf);
}
@font-face {
  font-family: "titulo";
  src: url(../fonts/HangingRegular.ttf);
}
@font-face {
  font-family: "parrafo2";
  src: url(../fonts/SimpleHandmade.otf);
}
.footer__rs ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgb(255, 205, 214);
  padding: 1.5% 0% 1.5% 0%;
  margin-bottom: 0%;
}
.footer__rs ul a {
  font-family: "chocolate";
  color: rgb(255, 56, 93);
  font-size: 90%;
  text-decoration: none;
}

.footer__autor {
  background-color: rgb(255, 56, 93);
}
.footer__autor p {
  display: flex;
  justify-content: center;
  font-family: "footer";
  color: white;
  font-size: 100%;
  padding: 0.3% 0.3%;
  margin: 0%;
}

.footer__rs {
  margin-top: 10%;
}

.nombre {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.nombre img {
  width: 40%;
}

.textIni {
  padding: 0% 3% 0% 3%;
}
.textIni p {
  font-family: "parrafo2";
  text-align: center;
  font-size: 130%;
}

.pini {
  padding: 0%;
}

.row {
  width: 100%;
  margin: 0%;
}

.imgini img {
  width: 100%;
  padding: 2%;
}

@media screen and (max-width: 768px) {
  .imgini img {
    margin-bottom: 1rem;
  }
}
.p2ini {
  display: flex;
}
.p2ini p {
  margin-bottom: 0%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.pfini p {
  font-family: "parrafo2";
  text-align: center;
  font-size: 130%;
  margin-top: 1rem;
}

.pinicial p {
  font-family: "parrafo2";
  text-align: center;
  font-size: 130%;
  padding: 3% 3% 0% 3%;
}

.procedimiento {
  background-color: beige;
  width: 80%;
  margin-top: 4%;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .procedimiento {
    margin-top: 8%;
  }
}
.row {
  padding-top: 2%;
}

.procedimiento__fila2 {
  padding-bottom: 2%;
}
.procedimiento__fila2 .procedimiento__fila2--descripcion {
  display: flex;
}
.procedimiento__fila2 .procedimiento__fila2--descripcion p {
  font-family: "chocolatel";
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 125%;
}
.procedimiento__fila2 .procedimiento__fila2--imagen {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 3%;
}
.procedimiento__fila2 .procedimiento__fila2--imagen img {
  width: 100%;
}

.procedimiento__titulo h2 {
  color: rgb(14, 96, 14);
  margin-bottom: 0%;
}

.promociones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0% 3% 3% 0%;
}

.promociones__tratamiento {
  width: 65%;
  margin-top: 4%;
  background-color: rgb(14, 96, 14);
  border-width: 10px;
  border-style: double;
  border-color: beige;
}
.promociones__tratamiento h2 {
  text-align: center;
  font-family: "chocolate";
  color: beige;
  margin-top: 1rem;
}
.promociones__tratamiento p {
  text-align: center;
  font-family: "chocolatel";
  color: white;
  margin: 1rem;
}
.promociones__tratamiento .promociones__tratamiento--imagen {
  display: flex;
  justify-content: center;
}
.promociones__tratamiento .promociones__tratamiento--imagen img {
  width: 70%;
  margin-bottom: 1rem;
}

.links-contacto {
  padding: 0% 3% 0% 3%;
}
.links-contacto a {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: rgb(14, 96, 14);
  margin: 3% 30% 3% 30%;
  color: white;
  font-family: "chocolate";
  font-size: 125%;
  border-radius: 10px;
}

.info-contacto {
  padding: 0% 3% 0% 3%;
  margin: 3% 0% 3% 0%;
}
.info-contacto .info-contacto__p {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.info-contacto .info-contacto__p p {
  font-family: "parrafo2";
  text-align: center;
  font-size: 130%;
  text-align: center;
  padding-top: 5%;
}
.info-contacto iframe {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .info-contacto {
    flex-direction: column-reverse;
  }
}
.informacion__texf {
  font-family: "parrafo2";
  text-align: center;
  font-size: 130%;
  text-align: center;
  padding: 0% 3% 0% 3%;
}

.titulo {
  font-family: "titulo";
  padding-left: 5%;
}

/*# sourceMappingURL=style.css.map */
