.citas{
    @include flex-center;
    .citas__pasos{
        width: 70%;
        ul{
            list-style-type: disclosure-closed;
            li{
                font-family: 'chocolate';
                font-size: 125%;
                text-align: center;
                padding: 3% 3%;
            }
        }
        .citas__pasos--boton{
            @include flex-center; margin-bottom: 3%;
            a{
                background-color: $rosaf;
                padding: 1% 4% 1% 4%;
                font-family: 'chocolate';
                color: white;
                border-radius: 10px;
                font-size: 125%;
                text-align: center;
                margin-bottom: 0%;
            }
        }
    }
}

