@font-face{
    font-family: "footer";
    src: url(../fonts/Autography.otf)
}

@font-face{
    font-family: "chocolatel";
    src: url(../fonts/TT\ Chocolates\ Trial\ Light.otf);
}

@font-face{
    font-family: "chocolate";
    src: url(../fonts/TT\ Chocolates\ Trial\ Bold.otf)
}

@font-face{
    font-family: "titulo";
    src: url(../fonts/HangingRegular.ttf);
}

@font-face{
    font-family: "parrafo2";
    src: url(../fonts/SimpleHandmade.otf);
}