$rosaf: rgb(255, 56, 93);

.footer__rs ul{
    display: flex; 
    justify-content: space-around; 
    list-style-type: none; 
    background-color: $rosa; 
    padding: 1.5% 0% 1.5% 0%; 
    margin-bottom: 0%;        
    a{
        font-family: 'chocolate'; color: $rosaf; font-size: 90%; text-decoration: none; 
    }
}

.footer__autor{
    background-image: radial-gradient(circle, rgb(152, 17, 40), $rosaf);
    p{
        @include flex-center;
        font-family:'footer'; 
        color: white; 
        font-size: 100%; 
        padding: .3% .3%; 
        margin: 0%;
    }
}

.footer__rs{margin-top: 10%;}