$rosa: rgb(255, 205, 214);

.container{
    margin: 0; padding: 0;
    header{
        margin: 0; background-color:$rosa; width: 100%;
        div{padding: 0;}
    }
}
.header__logo{width: 100%; padding: 8%;}