$dorado: rgb(183, 157, 10);

.menu{
    background-color: $dorado; padding: 0%;
    .menu__lista ul{
        display: flex; justify-content: space-around; list-style-type: none; padding: 0%; flex-wrap: wrap; align-items: center; margin-bottom: 5%;
        li{
            display: flex; flex-wrap: wrap; align-items: center; padding: .5%;
            a{text-decoration: none; color: white; font-size: 90%; font-family: 'chocolatel';}
            
        }
    }
}

.menu__lista ul{
    li{
        a:hover{font-size: 110%; font-family: 'chocolate'; transition: .5s all;}
    }
}