$verde: rgb(20, 84, 20);

.procedimiento {
    background-color: beige;  width: 80%; margin-top: 4%; border-radius: 12px;
}

@media screen and (max-width: 768px){
    .procedimiento{margin-top: 8%;}
}

.row{padding-top: 2%;}

.procedimiento__fila2{
    padding-bottom: 2%; 
    .procedimiento__fila2--descripcion{
        display: flex;
        p{
            font-family: 'chocolatel';
            text-align: center;
            @include flex-align-center;
            font-size: 125%;
        }
    }
    .procedimiento__fila2--imagen{
        @include flex-align-center;
        padding-bottom: 3%;
        img{
            width: 100%;
        }
}
}

.procedimiento__titulo h2{color:$verde; margin-bottom: 0%;}