.promociones{display: flex; flex-direction: column; flex-wrap: wrap; align-content: center;}

.promociones__tratamiento{
    width: 65%; 
    margin-top: 4%; 
    background-color: $verde; 
    border-width: 10px; 
    border-style: double; 
    border-color: beige;
    h2{text-align: center; font-family: 'chocolate'; color: beige; margin-top: 1rem;}
    p{text-align: center; font-family: 'chocolatel'; color: white; margin: 1rem;}
    .promociones__tratamiento--imagen{
        display: flex; justify-content: center;
        img{width: 70%; margin-bottom: 1rem;}
    }
}

.promociones__tratamiento{
    background-color: $verde;
    transition: background-color 1.5s;
}
.promociones__tratamiento:hover{background-color: $rosaf;}